.container {
    background: #A5A5A5;
}

.flex-item {
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.btn-label {
    flex: 2 0 auto;
    color: white;
    text-align: center;
}

.btn-icon {
    flex: 1;
    width: 200px;
    height: 200px;
    margin-right: 30px;
}

